{% extends "app/layout.html" %}

{% block content %}


  <head>
    <title>Interactive maps for Django web apps</title>
      <script src='https://static-assets.mapbox.com/gl-pricing/dist/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css' rel='stylesheet' />
  </head>
  <body>
   <h1>Zoo Map</h1>
      <div id='map' width="100%" style='height:400px'></div>
      <div id='menu'>
            <input id='streets-v11' type='radio' name='rtoggle' value='streets' checked='checked'>
            <label for='streets'>streets</label>
            <input id='light-v10' type='radio' name='rtoggle' value='light'>
            <label for='light'>light</label>
            <input id='dark-v10' type='radio' name='rtoggle' value='dark'>
            <label for='dark'>dark</label>
            <input id='outdoors-v11' type='radio' name='rtoggle' value='outdoors'>
            <label for='outdoors'>outdoors</label>
            <input id='satellite-v9' type='radio' name='rtoggle' value='satellite'>
            <label for='satellite'>satellite</label>
</div>

<script>

var layerList = document.getElementById('menu');
var inputs = layerList.getElementsByTagName('input');
 
function switchLayer(layer) {
            var layerId = layer.target.id;
            map.setStyle('mapbox://styles/mapbox/' + layerId);
            }
 for (var i = 0; i < inputs.length; i++) {
        inputs[i].onclick = switchLayer;
    }

</script>  


    <script>
    mapboxgl.accessToken = 'pk.eyJ1IjoibHVrZWdpZmZlbiIsImEiOiJjanYxaHF4YWkwc2pnM3prYzZ1NnBkZXQzIn0.TXOk8ItQSObapl4O0ebAqg';
    var map = new mapboxgl.Map({
     container: 'map',
     style: 'mapbox://styles/mapbox/streets-v11',
     center: [-119.8226407, 36.7524107 
],
        zoom: 15

    });





       // Add geolocate control to the map.
map.addControl(new mapboxgl.GeolocateControl({
                positionOptions: {
                enableHighAccuracy: true
                },
                trackUserLocation: true
}));



       // Add zoom and rotation controls to the map.
       map.addControl(new mapboxgl.NavigationControl());


//geojson points start here
map.on('load', function () {
 


map.addLayer(   {
"id": "points",
"type": "symbol",
"source":
         {
            "type": "geojson",
            "data": {
                  "type": "FeatureCollection",
                  "features":
                         [
                          {
                            "type": "Feature",
                            "geometry": {
                                    "type": "Point",
                                    "coordinates": [-119.8226407, 36.7524107]},

                            "properties": {
                                    "title": "Ticket Booth",
                                    "icon": "marker"}
                          },

                          {
                            "type": "Feature",
                            "geometry": {
                                    "type": "Point",
                                    "coordinates": [-119.82151, 36.7528189]},

                            "properties": {
                                     "title": "Safari Cafe",
                                     "icon": "restaurant"}
                          },

                          {
                            "type": "Feature",
                            "geometry": {
                                    "type": "Point",
                                    "coordinates": [-119.823169, 36.7524539]},

                            "properties": {
                                    "title": "Front-Entrance Restroom",
                                    "icon": "toilet"}
                          },

                          {
                            "type": "Feature",
                            "geometry": {
                                    "type": "Point",
                                    "coordinates": [-119.8231406, 36.752662]},

                            "properties": {
                                    "title": "Red Wolf",
                                    "icon": "zoo"}

                          },

                          {
                            "type": "Feature",
                            "geometry": {
                                   "type": "Point",
                                   "coordinates": [-119.8227744, 36.7529179]},

                            "properties": {
                                   "title": "Reptile House",
                                   "icon": "zoo"}
                          },

                          {
                            "type": "Feature",
                            "geometry": {
                                   "type": "Point",
                                  "coordinates": [-119.8228782, 36.7526754]},

                            "properties": {
                                   "title": "Galapagos Tortoise",
                                  "icon": "zoo"}

                          },

                          {
                            "type": "Feature",
                            "geometry": {
									"type": "Point",
									"coordinates": [-119.8229255, 36.7522759]},
									
                            "properties": {
									"title": "Safari Trading Company",
									"icon": "marker"}
                          },
							  
						  {
                            "type": "Feature",
                            "geometry": {
									"type": "Point",
									"coordinates": [-119.8229244, 36.7522462]},
								
                            "properties": {
									"title": "Exit",
									"icon": "marker"}
                            
                           },
						   
						   {
                            "type": "Feature",
                            "geometry": {
									"type": "Point",
									"coordinates": [-119.8227674, 36.752183]
                            },
                            "properties": {
									"title": "Australion Aviary",
									"icon": "zoo"
                            }
                           },
						   
						   {
                            "type": "Feature",
                            "geometry": {
								   "type": "Point",
								   "coordinates": [-119.8220076, 36.7528309]
                            },
                            "properties": {
									"title": "Sea Lion Cove",
									"icon": "zoo"
                            }
                           },
							
						   {
                            "type": "Feature",
							"geometry": {
									"type": "Point",
									"coordinates": [-119.8214763, 36.7527492]
                            },
                            "properties": {
									"title": "Red Ruffled Lemur",
									"icon": "zoo"
                            }
                           },
						   
						   {
                            "type": "Feature",
                            "geometry": {
								"type": "Point",
								"coordinates": [-119.8213053, 36.752968]
                            },
                            "properties": {
								"title": "Capybara",
								"icon": "zoo"
                            }
                           },
						   
						   {
                            "type": "Feature",
                            "geometry": {
								"type": "Point",
								"coordinates": [-119.821602, 36.7528058]
                            },
                            "properties": {
								"title": "Komodo Dragon",
								"icon": "zoo"
                            }
                           },
						   
						   {
                            "type": "Feature",
                            "geometry": {
								"type": "Point",
								"coordinates": [-119.82151, 36.7528189]
                            }, 
                            "properties": {
								"title": "Safari Cafe",
								"icon": "marker"
                            }
                           },
						   
						   {
                            "type": "Feature",
                            "geometry": {
									"type": "Point",
									"coordinates": [-119.8207138, 36.7528697]
                            },
                            "properties": {
									"title": "Wilderness Falls",
									"icon": "marker"
                            }
                           },
						   
						   {
                            "type": "Feature",
                            "geometry": {
								"type": "Point",
								"coordinates": [-119.8209283, 36.75289697]
                            },
                            "properties": {
								"title": "Bird Show",
								"icon": "marker"
                            }
                           },
						   
						   {
                            "type": "Feature",
                            "geometry": {
								"type": "Point",
								"coordinates": [-119.820492, 36.7529073]
                            },
                            "properties": {
								"title": "Dino Dig",
								"icon": "marker"
                            }
                           },
						   
						   {
                            "type": "Feature",
                            "geometry": {
								"type": "Point",
								"coordinates": [-119.8205784, 36.752609]
                            },
                            "properties": {
								"title": "Cafe Restrooms",
								"icon": "toilet"
                            }
                           },
						   
						   {
                            "type": "Feature",
                            "geometry": {
									"type": "Point",
									"coordinates": [-119.8205784, 36.752609]
                            },
                            "properties": {
								"title": "Africa",
								"icon": "marker"
                            }
                           },
						   
						   {
                            "type": "Feature",
                            "geometry": {
									"type": "Point",
									"coordinates": [-119.8198206, 36.7523984]
                            },
                            "properties": {
									"title": "Cheetah",
									"icon": "zoo"
                            }
                           },
						   
						   {
                            "type": "Feature",
                            "geometry": {
									"type": "Point",
									"coordinates": [-119.8195725, 36.7522717]
                            },
                            "properties": {
									"title": "Main Savanna",
									"icon": "marker"
                            }
                           },
						   
						   {
                            "type": "Feature",
                            "geometry": {
									"type": "Point",
									"coordinates": [-119.818767, 36.7524394]
                            },
                            "properties": {
									"title": "Twiga Trail Restroom",
									"icon": "toilet"
                            }
                           },
						   
						   {
                            "type": "Feature",
                            "geometry": {
									"type": "Point",
									"coordinates": [-119.8182843, 36.7524394]
                            },
                            "properties": {
									"title": "Giraffe Feeding Station",
									"icon": "zoo"
                            }
                           },
						   
						   {
                            "type": "Feature",
                            "geometry": {
									"type": "Point",
									"coordinates": [-119.8195315, 36.7519995]
                            },
                            "properties": {
									"title": "Kopje Lodge",
									"icon": "restaurant"
                            }
                           },
						   
						   {
                            "type": "Feature",
                            "geometry": {
									"type": "Point",
									"coordinates": [-119.8194028, 36.7522211]
                            },
                            "properties": {
									"title": "Kopje Restroom",
									"icon": "toilet"
                            }
                           },
						   
						   {
                            "type": "Feature",
                            "geometry": {
									"type": "Point",
									"coordinates": [-119.8197147, 36.7515332]
                            },
                            "properties": {
									"title": "Meerkat",
									"icon": "zoo"
                            }
                           },
						   
						   {
                            "type": "Feature",
                            "geometry": {
									"type": "Point",
									"coordinates": [-119.8195255, 36.751343]
                            },
                            "properties": {
									"title": "Warthog",
									"icon": "zoo"
                            }
                           },
						   
						   {
                            "type": "Feature",
                            "geometry": {
									"type": "Point",
									"coordinates": [-119.8191874, 36.751208]
                            },
                            "properties": {
									"title": "Tembo Trail Restroom",
									"icon": "toilet"
                            }
                           },
						   
						   {
                            "type": "Feature",
                            "geometry": {
									"type": "Point",
									"coordinates": [-119.8173166, 36.7513446]
                            },
                            "properties": {
									"title": "African Elephant",
									"icon": "zoo"
                            }
                           },
						   
						   {
                            "type": "Feature",
							"geometry": {
									"type": "Point",
									"coordinates": [-119.8196382, 36.751776]
                            },
                            "properties": {
									"title": "Kopje Lodge Gift Shop",
									"icon": "marker"
                            }
                           },
						   
						   {
                            "type": "Feature",
                            "geometry": {
									"type": "Point",
									"coordinates": [-119.8213507, 36.7527785]
                            },
                            "properties": {
									"title": "Aoudad",
									"icon": "zoo"
                            }
                           },
						   
						   {
                            "type": "Feature",
                            "geometry": {
									"type": "Point",
									"coordinates": [-119.8209761, 36.7520475]
                            },
                            "properties": {
									"title": "African River Otter",
									"icon": "zoo"
                            }
                           },
						   
						   {
                            "type": "Feature",
                            "geometry": {
									"type": "Point",
									"coordinates": [-119.8208718, 36.7520673]
                            },
                            "properties": {
									"title": "Flamingo",
									"icon": "zoo"
                            }
                           },
						   
						   {
                            "type": "Feature",
                            "geometry": {
									"type": "Point",
									"coordinates": [-119.8208785, 36.7520156]
                            },
                            "properties": {
									"title": "Tropical Birdhouse",
									"icon": "zoo"
                            }
                           },
						   
						   {
                            "type": "Feature",
                            "geometry": {
									"type": "Point",
									"coordinates": [-119.8207602, 36.7523523]
                            },
                            "properties": {
									"title": "Africa",
									"icon": "zoo"
                            }
						   },
						   
						   {
							"type": "Feature",
							"geometry": {
									"type": "Point",
									"coordinates": [-119.820646, 36.7515925]
							},
							"properties": {
									"title": "Stingray Bay",
									"icon": "zoo"
							}
						   },
						   
						   {
							"type": "Feature",
							"geometry": {
									"type": "Point",
									"coordinates": [-119.8208121, 36.7513138]
							},
							"properties": {
									"title": "Bird of Prey",
									"icon": "zoo"
							}
						   },
						   
						   {
							"type": "Feature",
							"geometry": {
									"type": "Point",
									"coordinates": [-119.820944, 36.7514639]
							},
							"properties": {
									"title": "Kangaroo Entrance",
									"icon": "zoo"
							}
						   },
						   
						   {
							"type": "Feature",
							"geometry": {
									"type": "Point",
									"coordinates": [-119.8212713, 36.7509784]
							},
							"properties": {
									"title": "Peccary",
									"icon": "zoo"
							}
						   },
						   
						   {
							"type": "Feature",
							"geometry": {
									"type": "Point",
									"coordinates": [-119.8213372, 36.750953]
							},
							"properties": {
									"title": "Rainforest Restroom",
									"icon": "toilet"
							}
						   },
						   
						   {
							"type": "Feature",
							"geometry": {
									"type": "Point",
									"coordinates": [-119.8215189, 36.750831]
							},
							"properties": {
									"title": "Rainforest Entrance",
									"icon": "zoo"
							}
						   },
						   
						   {
							"type": "Feature",
							"geometry": {
									"type": "Point",
									"coordinates": [-119.8220052, 36.7510413]
							},
							"properties": {
									"title": "Alligator",
									"icon": "zoo"
							}
						  },
						  
						  {
							"type": "Feature",
							"geometry": {
									"type": "Point",
									"coordinates": [-119.8221972, 36.7512811]
							},
							"properties": {
									"title": "Babirusa",
									"icon": "zoo"
							}
						   },
						   
						   {
							"type": "Feature",
							"geometry": {
									"type": "Point",
									"coordinates": [-119.8219818, 36.7514657]
							},
							"properties": {
									"title": "Valley Farm",
									"icon": "zoo"
							}
						   },
						   
						   {
							"type": "Feature",
							"geometry": {
									"type": "Point",
									"coordinates": [-119.8220692, 36.7516099]
							},
							"properties": {
									"title": "Turaco",
									"icon": "zoo"
							}
							
						   },
						   
						   {  
							"type": "Feature",
							"geometry": {
									"type": "Point",
									"coordinates": [-119.821771, 36.7518901]
							},
							"properties": {
									"title": "Tiger",
									"icon": "zoo"
							}
						   },
						   
						   {
							"type": "Feature",
							"geometry": {
									"type": "Point",
									"coordinates": [-119.8217919, 36.7519148]
							},
							"properties": {
									"title": "Serval",
									"icon": "zoo"
							}
						   },
						   
						   {
							"type": "Feature",
							"geometry": {
									"type": "Point",
									"coordinates": [-119.8223549, 36.7518908]
							},
							"properties": {
									"title": "Asian Rhino",
									"icon": "zoo"
							}
						   },
						   
						   {
							"type": "Feature",
							"geometry": {
									"type": "Point",
									"coordinates": [-119.8220458, 36.7520992]
							},
							"properties": {
									"title": "Orangutan",
									"icon": "zoo"
							}
						   },
						   
						   {
							"type": "Feature",
							"geometry": {
									"type": "Point",
									"coordinates": [-119.8220281, 36.7521075]
							},
							"properties": {
									"title": "Guenon",
									"icon": "zoo"
							}
						   },
						   
						   {
							"type": "Feature",
							"geometry": {
									"type": "Point",
									"coordinates": [-119.8221202, 36.7524725]
							},
							"properties": {
									"title": "Coati",
									"icon": "zoo"
							}
						   },
						   
						   {
							"type": "Feature",
							"geometry": {
									"type": "Point",
									"coordinates": [-119.8213362, 36.7524283]
							},
							"properties": {
									"title": "Ring-tailed Lemur",
									"icon": "zoo"
							}
						   },
						   
						   {
							"type": "Feature",
							"geometry": {
									"type": "Point",
									"coordinates": [-119.8213541, 36.7524337]
							},
							"properties": {
									"title": "Colobus",
									"icon": "zoo"
							}
						   },
						   
						   {
							"type": "Feature",
							"geometry": {
									"type": "Point",
									"coordinates": [-119.8211864, 36.7525742]
							},
							"properties": {
									"title": "Fenec Fox",
									"icon": "zoo"
							}
						   },
						   
						   {
							"type": "Feature",
							"geometry": {
									"type": "Point",
									"coordinates": [-119.8200849, 36.7536764]
							},
							"properties": {
									"title": "Education Building",
									"icon": "marker"}
							
						   },
                          ]
                            }
            },
"layout":
                {
            "icon-image": "{icon}-15",
            "text-field": "{title}",
            "text-font": ["Open Sans Semibold", "Arial Unicode MS Bold"],
            "text-offset": [0, 0.6],
            "text-anchor": "top"
            }
        });
});

   </script>
  </body>

{% endblock %}
